USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[PR_COMPANYACCOUNTINGDETAIL_ID_CHK]    Script Date: 15/08/2023 13:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 ALTER PROCEDURE [dbo].[PR_COMPANYACCOUNTINGDETAIL_ID_CHK] @PCompId Int,@PYrId Int AS  
  
SET NOCOUNT ON  
  
SELECT CompanyAccountingDetail.COMPYID, CompanyAccountingDetail.COMPID, CompanyAccountingDetail.YRID  
FROM CompanyAccountingDetail  
WHERE CompanyAccountingDetail.COMPID=@PCompId AND CompanyAccountingDetail.YRID=@PYrId  
  