USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchStateMaster]    Script Date: 15/08/2023 13:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
/*    
    
DECLARE @total INT    
        @filtered INT    
    
EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT    
    
SELECT @total, @filtered    
*/    
    
ALTER PROCEDURE [dbo].[pr_SearchStateMaster]  /* CHANGE */    
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by    
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by    
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC    
        , @StartRowNum INT = 1 --the first row to return    
        , @EndRowNum INT = 10 --the last row to return    
        , @TotalRowsCount INT OUTPUT    
        , @FilteredRowsCount INT OUTPUT    
     
AS BEGIN    
    --Wrap filter term with % to search for values that contain @FilterTerm    
    SET @FilterTerm = '%' + @FilterTerm + '%'    
    
    DECLARE @TableMaster TABLE    
    (     
 STATECODE VARCHAR(15)    
 ,STATEGSTCODE VARCHAR(15)    
      ,STATEDESC VARCHAR(100)    
   ,STATETYPE SMALLINT    
   ,DISPSTATUS smallint    
   , STATEID int     
      , RowNum INT    
    )    
    
    INSERT INTO @TableMaster(STATECODE, STATEGSTCODE, STATEDESC, STATETYPE, DISPSTATUS,STATEID, RowNum)    
    SELECT  STATECODE, STATEGSTCODE, STATEDESC, STATETYPE, DISPSTATUS, STATEID    
            , Row_Number() OVER (    
            ORDER BY    
                
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/    
                
            CASE @SortDirection    
              WHEN 'ASC'  THEN    
                CASE @SortIndex    
                  WHEN 0 THEN STATECODE    
       WHEN 1 THEN STATEGSTCODE    
                  WHEN 1 THEN STATEDESC    
      
                END                 
            END ASC,    
            CASE @SortDirection    
              WHEN 'DESC' THEN     
                CASE @SortIndex    
                  WHEN 0 THEN STATECODE    
       WHEN 1 THEN STATEGSTCODE    
                  WHEN 1 THEN STATEDESC         
                   
                END    
            END DESC     
                
            /*DATETIME ORDER BY*/    
                 
    
                
            ) AS RowNum    
    FROM    dbo.STATEMASTER  /* CHANGE  TABLE NAME */    
    WHERE   (@FilterTerm IS NULL     
              OR STATECODE LIKE @FilterTerm    
     OR STATEGSTCODE LIKE @FilterTerm    
              OR STATEDESC LIKE @FilterTerm)   
                
    
    SELECT STATECODE, STATEGSTCODE    
            , STATEDESC    
   , CASE STATETYPE WHEN 0 THEN 'Local' WHEN 1 THEN 'InterState' END  AS STATETYPE    
   , CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS    
    ,STATEID    
    FROM    @TableMaster    
    --WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum    
        
    SELECT @TotalRowsCount = COUNT(*)    
    FROM   dbo.STATEMASTER   /* CHANGE  TABLE NAME */    
        
    SELECT @FilteredRowsCount = COUNT(*)    
    FROM   @TableMaster    
            
END