USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchSalesEInvoice]    Script Date: 15/08/2023 13:39:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*    
    
DECLARE @total INT    
        @filtered INT    
    
EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT    
    
SELECT @total, @filtered    
*/    
    
ALTER PROCEDURE [dbo].[pr_SearchSalesEInvoice]  /* CHANGE */    
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by    
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by    
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC    
        , @StartRowNum INT = 1 --the first row to return    
        , @EndRowNum INT = 10 --the last row to return    
        , @TotalRowsCount INT OUTPUT    
        , @FilteredRowsCount INT OUTPUT    
  , @PSDate Smalldatetime    
        , @PEDate Smalldatetime    
  ,@PCompyid int     
    
     
AS BEGIN    
    --Wrap filter term with % to search for values that contain @FilterTerm    
    SET @FilterTerm = '%' + @FilterTerm + '%'    
     
declare @LSDate Smalldatetime,@LEDate Smalldatetime,@LCompyid int    
 set @LSDate=@PSDate    
 set @LEDate=@PEDate    
 set @LCompyid=@PCompyid     
    
    DECLARE @TableMaster TABLE    
    (     
   TRANDATE smalldatetime    
   ,TRANDNO VARCHAR(50)    
      ,TRANREFNO VARCHAR(100)    
   ,TRANREFNAME VARCHAR(100)    
   ,TRANNAMT decimal(18,3)    
   ,ACKNO varchar(100)  
   ,DISPSTATUS SMALLINT    
   ,TRANMID INT    
      , RowNum INT    
    )    
    
    INSERT INTO @TableMaster(TRANDATE,TRANDNO, TRANREFNO, TRANREFNAME, TRANNAMT,ACKNO,DISPSTATUS, TRANMID, RowNum)    
    SELECT  TRANDATE, TRANDNO, TRANREFNO, TRANREFNAME, TRANNAMT,  ACKNO,   
   DISPSTATUS, TRANMID,Row_Number() OVER (    
            ORDER BY              
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/               
            CASE @SortDirection    
              WHEN 'ASC'  THEN    
                CASE @SortIndex    
                  WHEN 0 THEN TRANDATE                     
                END                 
            END ASC,    
            CASE @SortDirection    
              WHEN 'DESC' THEN     
                CASE @SortIndex    
                  WHEN 0 THEN TRANDATE                                     
                END    
            END DESC ,    
    CASE @SortDirection    
              WHEN 'ASC'  THEN    
                CASE @SortIndex    
      WHEN 1 THEN TRANDNO    
                  WHEN 2 THEN TRANREFNO    
      WHEN 3 THEN TRANREFNAME    
      --WHEN 4 THEN SRD_WGHT    
      WHEN 4 THEN DISPSTATUS                      
                END                 
            END ASC,    
            CASE @SortDirection    
              WHEN 'DESC' THEN     
                CASE @SortIndex    
                    WHEN 1 THEN TRANDNO    
                  WHEN 2 THEN TRANREFNO    
      WHEN 3 THEN TRANREFNAME    
      --WHEN 4 THEN SRD_WGHT    
      WHEN 4 THEN DISPSTATUS                                 
                END    
            END DESC     
      
            /*DATETIME ORDER BY*/                            
            ) AS RowNum    
    FROM            dbo.TRANSACTIONMASTER  /* CHANGE  TABLE NAME */    
    WHERE (regstrid = 11) and (TRANDATE BETWEEN @LSDate AND @LEDate) and (COMPYID=@LCompyid) 
	AND (@FilterTerm IS NULL      
              OR TRANDATE LIKE @FilterTerm    
               OR TRANDNO LIKE @FilterTerm    
                OR TRANREFNO LIKE @FilterTerm    
                 OR TRANREFNAME LIKE @FilterTerm    
                   OR TRANSACTIONMASTER.DISPSTATUS LIKE @FilterTerm  
                     OR ACKNO LIKE @FilterTerm)    
    
                      
    SELECT TRANDATE,TRANDNO, TRANREFNO, TRANREFNAME, TRANNAMT, ACKNO    
   ,CASE DISPSTATUS  WHEN 1 THEN ''WHEN -1 THEN 'Cancelled' WHEN 0 THEN '' END  AS DISPSTATUS    
    ,TRANMID    
    FROM    @TableMaster    
 --   WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum       
       
   SELECT @TotalRowsCount = COUNT(*)    
   FROM            dbo.TRANSACTIONMASTER /* CHANGE  TABLE NAME */    
   WHERE (regstrid = 11) and (TRANDATE BETWEEN @LSDate AND @LEDate) and (COMPYID=@LCompyid)  
   SELECT @FilteredRowsCount = COUNT(*) FROM   @TableMaster    
            
END    