USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchCustomerMaster]    Script Date: 15/08/2023 13:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*  
  
DECLARE @total INT  
        @filtered INT  
  
EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT  
  
SELECT @total, @filtered  
*/  
ALTER PROCEDURE [dbo].[pr_SearchCustomerMaster]  /* CHANGE */  
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by  
        , @SortIndex INT = 1 -- a one based index to indiCATE which column to order by  
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC  
        , @StartRowNum INT = 1 --the first row to return  
        , @EndRowNum INT = 10 --the last row to return  
        , @TotalRowsCount INT OUTPUT  
        , @FilteredRowsCount INT OUTPUT  
   
AS BEGIN  
    --Wrap filter term with % to search for values that contain @FilterTerm  
    SET @FilterTerm = '%' + @FilterTerm + '%'  
  
    DECLARE @TableMaster TABLE  
    (   
    CATECODE VARCHAR(50)  
   ,CATETDESC VARCHAR(100)  
      ,CATENAME VARCHAR(100)  
   ,CATEPNAME VARCHAR(250)  
   ,CATEPHN3 VARCHAR(50)  
   ,CATEMAIL VARCHAR(100)  
   , CATEID int   
      , RowNum INT  
    )  
  
    INSERT INTO @TableMaster(CATECODE, CATETDESC, CATENAME, CATEPNAME, CATEPHN3 ,CATEMAIL, CATEID , RowNum)  
    SELECT  CATECODE, '', CATENAME, isnull(CATEPNAME,''), CATEPHN3, isnull(CATEMAIL,''), CATEID   
            , Row_Number() OVER (  
            ORDER BY  
              
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/  
              
            CASE @SortDirection  
              WHEN 'ASC'  THEN  
                CASE @SortIndex  
                  WHEN 0 THEN CATECODE  
    --  WHEN 1 THEN CATETDESC  
                  WHEN 2 THEN CATENAME  
      WHEN 3 THEN CATEPNAME  
      WHEN 4 THEN CATEPHN3  
      WHEN 5 THEN CATEMAIL  
  
                END               
            END ASC,  
            CASE @SortDirection  
              WHEN 'DESC' THEN   
                CASE @SortIndex  
                  WHEN 0 THEN CATECODE  
    --  WHEN 1 THEN CATETDESC  
                  WHEN 2 THEN CATENAME  
      WHEN 3 THEN CATEPNAME  
      WHEN 4 THEN CATEPHN3  
      WHEN 5 THEN CATEMAIL  
       
                END  
            END DESC   
              
            /*DATETIME ORDER BY*/  
               
  
              
            ) AS RowNum  
    FROM    dbo.CUSTOMERMASTER/* CHANGE  TABLE NAME */  
 --Inner Join dbo.CATEGORYMASTER On dbo.CUSTOMERMASTER.CATETID = dbo.CATEGORYMASTER.CATETID  
    WHERE  @FilterTerm IS NULL   
              OR CATECODE LIKE @FilterTerm  
    -- OR CATETDESC LIKE @FilterTerm  
              OR CATENAME LIKE @FilterTerm  
      OR CATEPNAME LIKE @FilterTerm   
     OR CATEPHN3 LIKE @FilterTerm  
      OR CATEMAIL LIKE @FilterTerm  
  
    SELECT CATECODE,CATETDESC,CATENAME,CATEPNAME,CATEPHN3,CATEMAIL,CATEID   
    FROM    @TableMaster  
--    WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum  
      
    SELECT @TotalRowsCount = COUNT(*)  
    FROM   dbo.CUSTOMERMASTER  /* CHANGE  TABLE NAME */  
 --Inner Join dbo.CATEGORYMASTER On dbo.CUSTOMERMASTER.CATETID = dbo.CATEGORYMASTER.CATETID  
  
    SELECT @FilteredRowsCount = COUNT(*)  
    FROM   @TableMaster  
          
END  
  