USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchHSNCodeMaster]    Script Date: 15/08/2023 13:38:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
ALTER PROCEDURE [dbo].[pr_SearchHSNCodeMaster]  /* CHANGE */  
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by  
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by  
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC  
        , @StartRowNum INT = 1 --the first row to return  
        , @EndRowNum INT = 10 --the last row to return  
        , @TotalRowsCount INT OUTPUT  
        , @FilteredRowsCount INT OUTPUT  
   
AS BEGIN  
    --Wrap filter term with % to search for values that contain @FilterTerm  
    SET @FilterTerm = '%' + @FilterTerm + '%'  
  
    DECLARE @TableMaster TABLE  
    (   
    HSNCODE VARCHAR(100)  
      ,HSNDESC VARCHAR(100)  
   ,TAXEXPRN NUMERIC(18,2)  
   ,CGSTEXPRN NUMERIC(18,2)  
   ,SGSTEXPRN NUMERIC(18,2)  
   ,IGSTEXPRN NUMERIC(18,2)  
   ,DISPSTATUS smallint  
   ,HSNID int   
      , RowNum INT  
    )  
  
    INSERT INTO @TableMaster(HSNCODE,HSNDESC,TAXEXPRN,CGSTEXPRN,SGSTEXPRN,IGSTEXPRN,DISPSTATUS,HSNID, RowNum)  
    SELECT  HSNCODE, HSNDESC, 0 , CGSTEXPRN, SGSTEXPRN, IGSTEXPRN, DISPSTATUS, HSNID, Row_Number() OVER (ORDER BY  
              
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/  
              
            CASE @SortDirection  
              WHEN 'ASC'  THEN  
                CASE @SortIndex  
                  WHEN 1 THEN HSNCODE  
      WHEN 2 THEN HSNDESC  
                END               
            END ASC,  
            CASE @SortDirection  
              WHEN 'DESC' THEN   
                CASE @SortIndex  
                  WHEN 1 THEN HSNCODE      
                  WHEN 2 THEN HSNDESC  
                END  
            END DESC   
     --CASE @SortDirection  
     --         WHEN 'ASC'  THEN  
     --           CASE @SortIndex  
     --             WHEN 3 THEN TAXEXPRN  
     -- WHEN 4 THEN CGSTEXPRN  
     --             WHEN 5 THEN SGSTEXPRN  
     --          WHEN 6 THEN IGSTEXPRN  
     --           END               
     --       END ASC,  
     --       CASE @SortDirection  
     --         WHEN 'DESC' THEN   
     --           CASE @SortIndex  
     -- WHEN 3 THEN TAXEXPRN  
     --             WHEN 4 THEN CGSTEXPRN  
     --             WHEN 5 THEN SGSTEXPRN  
     --          WHEN 6 THEN IGSTEXPRN  
     --           END  
     --       END DESC   
              
            /*DATETIME ORDER BY*/  
               
  
              
            ) AS RowNum  
    FROM    dbo.HSNCODEMASTER  /* CHANGE  TABLE NAME */  
    WHERE   @FilterTerm IS NULL   
               
              OR HSNDESC LIKE @FilterTerm  
     OR HSNCODE LIKE @FilterTerm  
              
  
    SELECT HSNCODE, HSNDESC, TAXEXPRN, CGSTEXPRN, SGSTEXPRN, IGSTEXPRN  
     ,CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS  
    ,HSNID  
    FROM    @TableMaster  
    --WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum  
      
    SELECT @TotalRowsCount = COUNT(*)  
    FROM   dbo.HSNCODEMASTER   /* CHANGE  TABLE NAME */  
      
    SELECT @FilteredRowsCount = COUNT(*)  
    FROM   @TableMaster  
          
END