USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchMaterialMaster]    Script Date: 15/08/2023 13:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*  
  
DECLARE @total INT  
        @filtered INT  
  
EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT  
  
SELECT @total, @filtered  
*/  
  
ALTER PROCEDURE [dbo].[pr_SearchMaterialMaster]  /* CHANGE */  
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by  
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by  
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC  
        , @StartRowNum INT = 1 --the first row to return  
        , @EndRowNum INT = 10 --the last row to return  
        , @TotalRowsCount INT OUTPUT  
        , @FilteredRowsCount INT OUTPUT  
   
AS BEGIN  
    --Wrap filter term with % to search for values that contain @FilterTerm  
    SET @FilterTerm = '%' + @FilterTerm + '%'  
  
    DECLARE @TableMaster TABLE  
    (   
 MTRLCODE VARCHAR(100)  
 ,MTRLGDESC VARCHAR(100)  
      ,MTRLDESC VARCHAR(100)  
   ,PACKMDESC VARCHAR(100)  
   ,UNITCODE VARCHAR(100)  
   ,HSNCODE VARCHAR(100)  
   ,DISPSTATUS smallint  
   , MTRLID int   
      , RowNum INT  
    )  
  
    INSERT INTO @TableMaster(MTRLCODE, MTRLGDESC, MTRLDESC, PACKMDESC, UNITCODE, HSNCODE, DISPSTATUS, MTRLID, RowNum)  
    SELECT  MTRLCODE  
   ,MTRLGDESC  
            , MTRLDESC  
   , 'NIL'
   , UNITCODE  
   , 'NIL'
   , MATERIALMASTER.DISPSTATUS  
            , MTRLID  
            , Row_Number() OVER (  
            ORDER BY  
              
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/  
              
            CASE @SortDirection  
              WHEN 'ASC'  THEN  
                CASE @SortIndex  
                  WHEN 0 THEN MTRLCODE  
      WHEN 1 THEN MTRLGDESC  
                  WHEN 2 THEN MTRLDESC  
      WHEN 4 THEN UNITCODE  
    
                END               
            END ASC,  
            CASE @SortDirection  
              WHEN 'DESC' THEN   
                CASE @SortIndex  
                  WHEN 0 THEN MTRLCODE  
                  WHEN 1 THEN MTRLGDESC  
                  WHEN 2 THEN MTRLDESC   
      WHEN 4 THEN UNITCODE     
                END  
            END DESC   
              
            /*DATETIME ORDER BY*/  
               
  
              
            ) AS RowNum  
    --FROM    dbo.ACCOUNTHEADMASTER  /* CHANGE  TABLE NAME */  
FROM            dbo.MATERIALMASTER 
INNER JOIN dbo.MATERIALGROUPMASTER ON dbo.MATERIALMASTER.MTRLGID = dbo.MATERIALGROUPMASTER.MTRLGID 
INNER JOIN dbo.UNITMASTER ON dbo.UNITMASTER.UNITID = dbo.MATERIALMASTER.UNITID 
--LEFT OUTER JOIN dbo.HSNCODEMASTER ON dbo.MATERIALMASTER.HSNID = dbo.HSNCODEMASTER.HSNID 
--LEFT OUTER JOIN dbo.PACKINGMASTER ON dbo.MATERIALMASTER.PACKMID = dbo.PACKINGMASTER.PACKMID  
    WHERE (@FilterTerm IS NULL   
              OR MTRLCODE LIKE @FilterTerm  
     OR MTRLGDESC LIKE @FilterTerm  
              OR MTRLDESC LIKE @FilterTerm  
              OR UNITCODE LIKE @FilterTerm)  
  
    SELECT MTRLCODE  
            , MTRLGDESC  
   , MTRLDESC  
   , PACKMDESC  
   , UNITCODE  
   , HSNCODE  
   , CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS  
   ,MTRLID  
    FROM    @TableMaster  
   -- WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum  
      
    SELECT @TotalRowsCount = COUNT(*)  
    FROM   dbo.MATERIALMASTER   /* CHANGE  TABLE NAME */  
      
    SELECT @FilteredRowsCount = COUNT(*)  
    FROM   @TableMaster  
          
END  