USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_Search_Roles]    Script Date: 15/08/2023 13:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*  
  
DECLARE @total INT  
        @filtered INT  
  
EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT  
  
SELECT @total, @filtered  
*/  
  
ALTER PROCEDURE [dbo].[pr_Search_Roles]  /* CHANGE */  
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by  
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by  
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or Descp  
        , @StartRowNum INT = 1 --the first row to return  
        , @EndRowNum INT = 10 --the last row to return  
        , @TotalRowsCount INT OUTPUT  
        , @FilteredRowsCount INT OUTPUT  
   
AS BEGIN  
    --Wrap filter term with % to search for values that contain @FilterTerm  
    SET @FilterTerm = '%' + @FilterTerm + '%'  
  
    DECLARE @TableMaster TABLE  
    (   
 Name VARCHAR(100)  
      ,Descp VARCHAR(100)  
   , SDPTNAME  VARCHAR(100)   
      , RowNum INT  
    )  
  
    INSERT INTO @TableMaster(Name,  
Descp,SDPTNAME, RowNum)  
    SELECT  Name  
            , dbo.AspNetRoles.Description  
            , SDPTNAME  
            , Row_Number() OVER (  
            ORDER BY  
              
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/  
              
            CASE @SortDirection  
              WHEN 'ASC'  THEN  
                CASE @SortIndex  
                  WHEN 0 THEN Name  
                  WHEN 1 THEN dbo.AspNetRoles.Description  
    
                END               
            END ASC,  
            CASE @SortDirection  
              WHEN 'DESC' THEN   
                CASE @SortIndex  
                  WHEN 0 THEN Name  
                  WHEN 1 THEN dbo.AspNetRoles.Description      
                 
                END  
            END DESC   
              
            /*DATETIME ORDER BY*/  
               
  
              
            ) AS RowNum  
    FROM    dbo.AspNetRoles inner join dbo.SOFT_DEPARTMENTMASTER on AspNetRoles.SDPTID=SOFT_DEPARTMENTMASTER.SDPTID  /* CHANGE  TABLE NAME */  
    WHERE  ( @FilterTerm IS NULL   
              OR Name LIKE @FilterTerm  
              OR dbo.AspNetRoles.Description LIKE @FilterTerm  
             OR SDPTNAME LIKE @FilterTerm)  
           ORDER BY dbo.AspNetRoles.Name,dbo.SOFT_DEPARTMENTMASTER.SDPTNAME   
  
    SELECT Name  
            , Descp  
      
    ,SDPTNAME  
    FROM    @TableMaster  
    --WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum  
    ORDER BY Name  
    SELECT @TotalRowsCount = COUNT(*)  
    FROM  dbo.AspNetRoles inner join dbo.SOFT_DEPARTMENTMASTER on AspNetRoles.SDPTID=SOFT_DEPARTMENTMASTER.SDPTID  /* CHANGE  TABLE NAME */  
      
    SELECT @FilteredRowsCount = COUNT(*)  
    FROM   @TableMaster  
          
END  