USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchLocationMaster]    Script Date: 15/08/2023 13:38:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*  
  
DECLARE @total INT  
        @filtered INT  
  
EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT  
  
SELECT @total, @filtered  
*/  
  
ALTER PROCEDURE [dbo].[pr_SearchLocationMaster]  /* CHANGE */  
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by  
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by  
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC  
        , @StartRowNum INT = 1 --the first row to return  
        , @EndRowNum INT = 10 --the last row to return  
        , @TotalRowsCount INT OUTPUT  
        , @FilteredRowsCount INT OUTPUT  
   
AS BEGIN  
    --Wrap filter term with % to search for values that contain @FilterTerm  
    SET @FilterTerm = '%' + @FilterTerm + '%'  
  
    DECLARE @TableMaster TABLE  
    (   
 LOCTCODE VARCHAR(15)  
      ,LOCTDESC VARCHAR(100)  
   ,STATEDESC VARCHAR(100)  
   ,DISPSTATUS smallint  
   , LOCTID int   
      , RowNum INT  
    )  
  
    INSERT INTO @TableMaster(LOCTCODE,LOCTDESC,STATEDESC,DISPSTATUS,LOCTID, RowNum)  
    SELECT  LOCTCODE, LOCTDESC, ISNULL(STATEDESC,'NIL'),LOCATIONMASTER.DISPSTATUS, LOCTID  
            , Row_Number() OVER (  
            ORDER BY  
              
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/  
              
            CASE @SortDirection  
              WHEN 'ASC'  THEN  
                CASE @SortIndex  
                  WHEN 0 THEN LOCTCODE  
                  WHEN 1 THEN LOCTDESC  
      WHEN 2 THEN STATEDESC  
                END               
            END ASC,  
            CASE @SortDirection  
              WHEN 'DESC' THEN   
                CASE @SortIndex  
                  WHEN 0 THEN LOCTCODE  
                  WHEN 1 THEN LOCTDESC   
                  WHEN 2 THEN STATEDESC  
                END  
            END DESC   
              
            /*DATETIME ORDER BY*/  
               
  
              
            ) AS RowNum  
    FROM            dbo.LOCATIONMASTER LEFT OUTER JOIN  
                         dbo.STATEMASTER ON dbo.LOCATIONMASTER.STATEID = dbo.STATEMASTER.STATEID   /* CHANGE  TABLE NAME */  
    WHERE   @FilterTerm IS NULL   
              OR LOCTCODE LIKE @FilterTerm  
              OR LOCTDESC LIKE @FilterTerm  
              OR STATEDESC LIKE @FilterTerm  
  
    SELECT LOCTCODE  
            , LOCTDESC  
   ,STATEDESC  
   ,  CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS  
    ,LOCTID  
    FROM    @TableMaster  
   -- WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum  
      
    SELECT @TotalRowsCount = COUNT(*)  
    FROM   dbo.LOCATIONMASTER   /* CHANGE  TABLE NAME */  
      
    SELECT @FilteredRowsCount = COUNT(*)  
    FROM   @TableMaster  
          
END