USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchMaterialGroupMaster]    Script Date: 15/08/2023 13:39:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*  
  
DECLARE @total INT  
        @filtered INT  
  
EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT  
  
SELECT @total, @filtered  
*/  
  
ALTER PROCEDURE [dbo].[pr_SearchMaterialGroupMaster]  /* CHANGE */  
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by  
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by  
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC  
        , @StartRowNum INT = 1 --the first row to return  
        , @EndRowNum INT = 10 --the last row to return  
        , @TotalRowsCount INT OUTPUT  
        , @FilteredRowsCount INT OUTPUT  
   
AS BEGIN  
    --Wrap filter term with % to search for values that contain @FilterTerm  
    SET @FilterTerm = '%' + @FilterTerm + '%'  
  
    DECLARE @TableMaster TABLE  
    (   
 MTRLGCODE VARCHAR(100)  
      ,MTRLGDESC VARCHAR(100)  
   ,DISPSTATUS smallint  
   , MTRLGID int   
      , RowNum INT  
    )  
  
    INSERT INTO @TableMaster(MTRLGCODE,  
MTRLGDESC,DISPSTATUS,MTRLGID, RowNum)  
    SELECT  MTRLGCODE  
            , MTRLGDESC,DISPSTATUS  
            , MTRLGID  
            , Row_Number() OVER (  
            ORDER BY  
              
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/  
              
            CASE @SortDirection  
              WHEN 'ASC'  THEN  
                CASE @SortIndex  
                  WHEN 0 THEN MTRLGCODE  
                  WHEN 1 THEN MTRLGDESC  
    
                END               
            END ASC,  
            CASE @SortDirection  
              WHEN 'DESC' THEN   
                CASE @SortIndex  
                  WHEN 0 THEN MTRLGCODE  
                  WHEN 1 THEN MTRLGDESC      
                 
                END  
            END DESC   
              
            /*DATETIME ORDER BY*/  
               
  
              
            ) AS RowNum  
    FROM    dbo.MATERIALGROUPMASTER  /* CHANGE  TABLE NAME */  
    WHERE   @FilterTerm IS NULL   
              OR MTRLGCODE LIKE @FilterTerm  
              OR MTRLGDESC LIKE @FilterTerm  
              
  
    SELECT MTRLGCODE  
            , MTRLGDESC  
   ,  
     CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS  
    ,MTRLGID  
    FROM    @TableMaster  
    --WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum  
      
    SELECT @TotalRowsCount = COUNT(*)  
    FROM   dbo.MATERIALGROUPMASTER   /* CHANGE  TABLE NAME */  
      
    SELECT @FilteredRowsCount = COUNT(*)  
    FROM   @TableMaster  
          
END  
  