USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[SP_STATEMASTER_INSRT]    Script Date: 15/08/2023 13:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[SP_STATEMASTER_INSRT]
	(@PID 		 	[int],
	 @PDESC	 	[varchar](100),
	 @PCODE	 	[varchar](15),
	 @PCUSRID		[INT],
	 @PLMUSRID		[INT],
	 @PDISPSTATUS 	[smallint],
	 @PPRCSDATE	 	[datetime])

AS INSERT INTO [dbo].[STATEMASTER] 
	 ( [STATEID],
	 [STATEDESC],
	 [STATECODE],
	 [CUSRID],
	 [LMUSRID], 
	 [DISPSTATUS],
	 [PRCSDATE]) 
 
VALUES 
	( @PID,
	 @PDESC,
	 @PCODE,
	 @PCUSRID,
	 @PLMUSRID, 
	 @PDISPSTATUS,
	 @PPRCSDATE)




