USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[SP_STATEMASTER_UPDT]    Script Date: 15/08/2023 13:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[SP_STATEMASTER_UPDT]
	(@PID 		 	[int],
	 @PDESC	 	[varchar](100),
	 @PCODE	 	[varchar](15),
	 @PCUSRID		[INT],
	 @PLMUSRID		[INT],
	 @PDISPSTATUS 	[smallint],
	 @PPRCSDATE	 	[datetime])

AS UPDATE [dbo].[STATEMASTER] 

SET  [STATEDESC]	 = @PDESC,
	 [STATECODE]	 = @PCODE,
	 [CUSRID]	  = @PCUSRID,
	 [LMUSRID]	 = @PLMUSRID, 
	 [DISPSTATUS]	 = @PDISPSTATUS,
	 [PRCSDATE]	 = @PPRCSDATE 

WHERE 
	( [STATEID]	 = @PID)




