
@{
    ViewBag.Title = "SavepointErr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .msg_error {
        background: #C1372A;
        border: 1px solid rgb(112, 18, 18);
        padding: 4px;
        border-radius: 2px;
        margin: 10px 10px 0px 30px;
        color: #fff;
        font-size: 11px;
    }
</style>

<div class="msg_error">Sorry!!.An Error Occurred While Saving Your Transactions......</div>


