USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[PR_ACCOUNTINGYEAR_ID_CHK]    Script Date: 15/08/2023 13:35:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
ALTER PROCEDURE [dbo].[PR_ACCOUNTINGYEAR_ID_CHK] @PFYear INT, @PTYear INT AS  
  
SET NOCOUNT ON  
  
SELECT AccountingYear.YRID, AccountingYear.YRDESC, * FROM AccountingYear  
WHERE Year(FDate)=@PFYear AND Year(TDate)=@PTYear  
  