USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_EInvoice_Sales_Transaction_Detail_Assgn]    Script Date: 15/08/2023 13:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec pr_EInvoice_Sales_Transaction_Detail_Assgn 10939  
ALTER PROCEDURE [dbo].[pr_EInvoice_Sales_Transaction_Detail_Assgn] @PTranMID int                
AS                
BEGIN                
 -- SET NOCOUNT ON added to prevent extra result sets from                
 -- interfering with SELECT statements.                
              
 --eXEC pr_EInvoice_Sales_Transaction_Detail_Assgn 111110              
 SET NOCOUNT ON;                
                
    DECLARE @GAMT DECIMAL, @TOTDISCAMT DECIMAL  
  
 DECLARE @T1 TABLE  
 (  
  TRANDID  INT,  
  DISCAMT NUMERIC(18,2),  
  ASSAMT NUMERIC(18,2),  
  DISCGSTAMT NUMERIC(18,2)  
 )  
  
    DECLARE @TableMaster TABLE                
    (                 
    PrdDesc  varchar(50),                
    HsnCd varchar(15),                
    Qty int,                
    UnitCode varchar(15),                
    UnitPrice numeric(18,2),                
    TotAmt  numeric(18,2),                
    DiscAmt  numeric(18,2),                
    AssAmt numeric(18,2),                
    GstRt numeric(18,2),                
    IgstAmt numeric(18,2),                
    CgstAmt numeric(18,2),                
    SgstAmt numeric(18,2),                
    TotItemVal numeric(18,2)                 
    )                
             
    SELECT @GAMT = TRANGAMT FROM TRANSACTIONMASTER WHERE TRANMID = @PTranMID  
 SELECT @TOTDISCAMT = ABS(DEDVALUE) FROM Z_SALES_EINVOICE_DETAILS_01 WHERE TRANMID = @PTranMID  
  
 SET @GAMT = ISNULL(@GAMT, 0)  
 SET @TOTDISCAMT = ISNULL(@TOTDISCAMT, 0)  
  
 INSERT INTO @T1(TRANDID, DISCAMT, ASSAMT, DISCGSTAMT)  
 SELECT dbo.TRANSACTIONDETAIL.TRANDID, ROUND(((SUM(dbo.TRANSACTIONDETAIL.TRANDAMT) * @TOTDISCAMT)/@GAMT),2) AS TRANDDISCAMT,       
 SUM(dbo.TRANSACTIONDETAIL.TRANDAMT) - ABS(ROUND(((SUM(dbo.TRANSACTIONDETAIL.TRANDAMT) * @TOTDISCAMT)/@GAMT),2)) AS ASSAMT,   
 ROUND((((ROUND(((SUM(dbo.TRANSACTIONDETAIL.TRANDAMT) * @TOTDISCAMT)/@GAMT),2) * dbo.HSNCODEMASTER.IGSTEXPRN)/100)/2),2) AS DISCGSTAMT     
 FROM dbo.TRANSACTIONMASTER 
 INNER JOIN dbo.TRANSACTIONDETAIL ON dbo.TRANSACTIONMASTER.TRANMID = dbo.TRANSACTIONDETAIL.TRANMID 
 INNER JOIN dbo.PRODUCTMASTER ON dbo.TRANSACTIONDETAIL.TRANDREFID = dbo.PRODUCTMASTER.PRDTID 
 INNER JOIN dbo.HSNCODEMASTER ON dbo.PRODUCTMASTER.HSNID = dbo.HSNCODEMASTER.HSNID 
 INNER JOIN dbo.UNITMASTER ON dbo.PRODUCTMASTER.UNITID = dbo.UNITMASTER.UNITID      
 WHERE (dbo.TRANSACTIONDETAIL.TRANMID = @PTranMID)      
 GROUP BY dbo.TRANSACTIONDETAIL.TRANDID, dbo.HSNCODEMASTER.IGSTEXPRN    
   
  
 Insert into @TableMaster(PrdDesc, HsnCd, Qty, UnitCode, UnitPrice, TotAmt, DiscAmt, AssAmt, GstRt, IgstAmt, CgstAmt, SgstAmt, TotItemVal)                
SELECT        dbo.TRANSACTIONDETAIL.TRANDREFNAME, dbo.HSNCODEMASTER.HSNCODE,       
SUM(dbo.TRANSACTIONDETAIL.TRANDQTY) AS TRANBQTY, dbo.UNITMASTER.UNITDESC, dbo.TRANSACTIONDETAIL.TRANDRATE,       
SUM(dbo.TRANSACTIONDETAIL.TRANDAMT) AS TOTAMT,   
isnull(tmp02.DISCAMT, 0) AS TRANDDISCAMT,       
SUM(dbo.TRANSACTIONDETAIL.TRANDAMT) - isnull(ABS(tmp02.DISCAMT), 0) AS ASSAMT,   
dbo.HSNCODEMASTER.IGSTEXPRN AS GSTEXPRN,       
--SUM(tdetail.IGSTAMT) - (CASE WHEN SUM(tdetail.IGSTAMT) > 0 THEN ISNULL(ABS(tmp02.DISCGSTAMT) * 2, 0) ELSE 0 END) AS TRANBIGSTAMT,       
--SUM(tdetail.CGSTAMT) - (CASE WHEN SUM(tdetail.CGSTAMT) > 0 THEN ISNULL(ABS(tmp02.DISCGSTAMT), 0) ELSE 0 END) AS TRANBCGSTAMT,       
--SUM(tdetail.SGSTAMT) - (CASE WHEN SUM(tdetail.SGSTAMT) > 0 THEN ISNULL(ABS(tmp02.DISCGSTAMT), 0) ELSE 0 END) AS TRANBSGSTAMT,     

SUM(tdetail.IGSTAMT)  AS TRANBIGSTAMT,       
SUM(tdetail.CGSTAMT)  AS TRANBCGSTAMT,       
SUM(tdetail.SGSTAMT)  AS TRANBSGSTAMT,  

--SUM(dbo.TRANSACTIONDETAIL.TRANDAMT + tdetail.IGSTAMT + tdetail.CGSTAMT + tdetail.SGSTAMT) - isnull(ABS(tmp02.DISCAMT), 0) - ISNULL(ABS(DISCGSTAMT) * 2, 0) AS TRANBNAMT      

SUM(dbo.TRANSACTIONDETAIL.TRANDAMT + tdetail.IGSTAMT + tdetail.CGSTAMT + tdetail.SGSTAMT) - isnull(ABS(tmp02.DISCAMT), 0)  AS TRANBNAMT      
FROM dbo.TRANSACTIONMASTER   
INNER JOIN dbo.TRANSACTIONDETAIL ON dbo.TRANSACTIONMASTER.TRANMID = dbo.TRANSACTIONDETAIL.TRANMID   
INNER JOIN dbo.PRODUCTMASTER ON dbo.TRANSACTIONDETAIL.TRANDREFID = dbo.PRODUCTMASTER.PRDTID 
INNER JOIN dbo.HSNCODEMASTER ON dbo.PRODUCTMASTER.HSNID = dbo.HSNCODEMASTER.HSNID 
INNER JOIN dbo.UNITMASTER ON dbo.PRODUCTMASTER.UNITID = dbo.UNITMASTER.UNITID    
INNER JOIN dbo.Z_SALES_EINVOICE_DETAILS_04 tdetail ON dbo.TRANSACTIONDETAIL.TRANDID = tdetail.TRANDID
LEFT OUTER JOIN @T1 tmp02 ON dbo.TRANSACTIONDETAIL.TRANDID = tmp02.TRANDID   
WHERE (dbo.TRANSACTIONDETAIL.TRANMID = @PTranMID)      
GROUP BY dbo.TRANSACTIONDETAIL.TRANDREFNAME, dbo.HSNCODEMASTER.HSNCODE, dbo.UNITMASTER.UNITDESC,       
dbo.TRANSACTIONDETAIL.TRANDRATE, dbo.HSNCODEMASTER.IGSTEXPRN , tmp02.DISCAMT, tmp02.DISCGSTAMT         
          
/*       
 Insert into @TableMaster(PrdDesc, HsnCd, Qty, UnitCode, UnitPrice, TotAmt, DiscAmt, AssAmt, GstRt, IgstAmt, CgstAmt, SgstAmt, TotItemVal)                
 SELECT  TRANCFDESC, '38089340',       
1 AS TRANBQTY,'Nos', DEDVALUE * -1,       
DEDVALUE  * -1 AS TOTAMT, 0 AS TRANDDISCAMT,       
DEDVALUE  * -1 AS ASSAMT, 18 AS GSTEXPRN,       
TRANCFIGSTAMT  * -1 AS TRANBIGSTAMT,       
TRANCFCGSTAMT  * -1 AS TRANBCGSTAMT,       
TRANCFSGSTAMT  * -1 AS TRANBSGSTAMT,       
(DEDVALUE + TRANCFIGSTAMT + TRANCFCGSTAMT + TRANCFSGSTAMT)  * -1 AS TRANBNAMT      
FROM            dbo.TRANSACTIONMASTER     
INNER JOIN dbo.TRANSACTIONMASTERFACTOR ON dbo.TRANSACTIONMASTER.TRANMID = dbo.TRANSACTIONMASTERFACTOR.TRANMID     
--INNER JOIN dbo.HSNCODEMASTER ON dbo.TRANSACTIONMASTERFACTOR.CFHSNID = dbo.HSNCODEMASTER.HSNID     
WHERE (dbo.TRANSACTIONMASTER.TRANMID = @PTranMID)      
*/    
    
    
    
 /*    
SELECT  TRANCFDESC, dbo.HSNCODEMASTER.HSNCODE,       
1 AS TRANBQTY,'Nos', DEDVALUE * -1,       
DEDVALUE  * -1 AS TOTAMT, 0 AS TRANDDISCAMT,       
DEDVALUE  * -1 AS ASSAMT, dbo.HSNCODEMASTER.IGSTEXPRN AS GSTEXPRN,       
TRANCFIGSTAMT  * -1 AS TRANBIGSTAMT,       
TRANCFCGSTAMT  * -1 AS TRANBCGSTAMT,       
TRANCFSGSTAMT  * -1 AS TRANBSGSTAMT,       
(DEDVALUE + TRANCFIGSTAMT + TRANCFCGSTAMT + TRANCFSGSTAMT)  * -1 AS TRANBNAMT      
FROM            dbo.TRANSACTIONMASTER     
INNER JOIN dbo.TRANSACTIONMASTERFACTOR ON dbo.TRANSACTIONMASTER.TRANMID = dbo.TRANSACTIONMASTERFACTOR.TRANMID     
INNER JOIN dbo.HSNCODEMASTER ON dbo.TRANSACTIONMASTERFACTOR.CFHSNID = dbo.HSNCODEMASTER.HSNID     
WHERE (dbo.TRANSACTIONMASTER.TRANMID = @PTranMID)      
*/    
    
    
           
             
 --Insert into @TableMaster(PrdDesc, HsnCd, Qty, UnitCode, UnitPrice, TotAmt, DiscAmt, AssAmt, GstRt, IgstAmt, CgstAmt, SgstAmt, TotItemVal)                
 --SELECT dbo.COSTFACTORMASTER.CFDESC, dbo.HSNCODEMASTER.HSNCODE, 1 AS QTY, 'Nos' AS UNITCODE, dbo.TRANSACTIONMASTERFACTOR.DEDVALUE, dbo.TRANSACTIONMASTERFACTOR.DEDVALUE AS TOTAMT, 0 AS DISCAMT,                 
 --    dbo.TRANSACTIONMASTERFACTOR.DEDVALUE AS ASSAMT, (dbo.TRANSACTIONMASTERFACTOR.TRANCFCGSTEXPRN + dbo.TRANSACTIONMASTERFACTOR.TRANCFSGSTEXPRN + dbo.TRANSACTIONMASTERFACTOR.TRANCFIGSTEXPRN) AS GSTEXPRN, dbo.TRANSACTIONMASTERFACTOR.TRANCFIGSTAMT,       
  
    
        
 -- dbo.TRANSACTIONMASTERFACTOR.TRANCFCGSTAMT, dbo.TRANSACTIONMASTERFACTOR.TRANCFSGSTAMT,                 
 --    dbo.TRANSACTIONMASTERFACTOR.DEDVALUE + dbo.TRANSACTIONMASTERFACTOR.TRANCFCGSTAMT + dbo.TRANSACTIONMASTERFACTOR.TRANCFSGSTAMT + dbo.TRANSACTIONMASTERFACTOR.TRANCFIGSTAMT AS NAMT                
 --FROM   dbo.TRANSACTIONMASTERFACTOR INNER JOIN                
 --    dbo.COSTFACTORMASTER ON dbo.TRANSACTIONMASTERFACTOR.CFID = dbo.COSTFACTORMASTER.CFID INNER JOIN                
 --    dbo.HSNCODEMASTER ON dbo.COSTFACTORMASTER.HSNID = dbo.HSNCODEMASTER.HSNID                
 --WHERE (dbo.TRANSACTIONMASTERFACTOR.TRANMID = @PTranMID)                
                
 Select * From @TableMaster                
                
END 