USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchCostFactorMaster]    Script Date: 15/08/2023 13:37:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*  
  
DECLARE @total INT  
        @filtered INT  
  
EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT  
  
SELECT @total, @filtered  
*/  
  
ALTER PROCEDURE [dbo].[pr_SearchCostFactorMaster]  /* CHANGE */  
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by  
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by  
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC  
        , @StartRowNum INT = 1 --the first row to return  
        , @EndRowNum INT = 10 --the last row to return  
        , @TotalRowsCount INT OUTPUT  
        , @FilteredRowsCount INT OUTPUT  
   
AS BEGIN  
    --Wrap filter term with % to search for values that contain @FilterTerm  
    SET @FilterTerm = '%' + @FilterTerm + '%'  
  
    DECLARE @TableMaster TABLE  
    (   
 CFMODE VARCHAR(100)  
      ,CFDESC VARCHAR(100)  
   ,CFEXPR NUMERIC(18,3)  
   ,DISPSTATUS smallint  
   , CFID int   
      , RowNum INT  
    )  
  
    INSERT INTO @TableMaster(CFMODE,  
CFDESC,CFEXPR,DISPSTATUS,CFID, RowNum)  
    SELECT  CFMODE  
            , CFDESC,CFEXPR  
   ,DISPSTATUS  
            , CFID  
            , Row_Number() OVER (  
            ORDER BY  
              
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/  
              
            CASE @SortDirection  
              WHEN 'ASC'  THEN  
                CASE @SortIndex  
                  
                  WHEN 1 THEN CFDESC  
    
                END               
            END ASC,  
            CASE @SortDirection  
              WHEN 'DESC' THEN   
                CASE @SortIndex  
                  
                  WHEN 1 THEN CFDESC      
                 
                END  
            END DESC ,  
     CASE @SortDirection  
              WHEN 'ASC'  THEN  
                CASE @SortIndex  
                  WHEN 2 THEN CFEXPR  
              
    
                END               
            END ASC,  
            CASE @SortDirection  
              WHEN 'DESC' THEN   
                CASE @SortIndex  
                  WHEN 2 THEN CFEXPR  
                   
                 
                END  
            END DESC   
              
            /*DATETIME ORDER BY*/  
               
  
              
            ) AS RowNum  
    FROM    dbo.COSTFACTORMASTER  /* CHANGE  TABLE NAME */  
    WHERE   @FilterTerm IS NULL   
               
              OR CFDESC LIKE @FilterTerm  
     OR CFEXPR LIKE @FilterTerm  
              
  
    SELECT  CASE CFMODE WHEN 1 THEN 'DEDUCT' WHEN 0 THEN 'ADD' END  AS CFMODE  
            , CFDESC  
   ,CFEXPR  
     ,CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS  
    ,CFID  
    FROM    @TableMaster  
   -- WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum  
      
    SELECT @TotalRowsCount = COUNT(*)  
    FROM   dbo.COSTFACTORMASTER   /* CHANGE  TABLE NAME */  
      
    SELECT @FilteredRowsCount = COUNT(*)  
    FROM   @TableMaster  
          
END  
  