USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchAccountGroup]    Script Date: 15/08/2023 13:36:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*  
  
DECLARE @total INT  
        @filtered INT  
  
EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT  
  
SELECT @total, @filtered  
*/  
  
ALTER PROCEDURE [dbo].[pr_SearchAccountGroup]  /* CHANGE */  
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by  
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by  
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC  
        , @StartRowNum INT = 1 --the first row to return  
        , @EndRowNum INT = 10 --the last row to return  
        , @TotalRowsCount INT OUTPUT  
        , @FilteredRowsCount INT OUTPUT  
   
AS BEGIN  
    --Wrap filter term with % to search for values that contain @FilterTerm  
    SET @FilterTerm = '%' + @FilterTerm + '%'  
  
    DECLARE @TableMaster TABLE  
    (   
 ACHEADGCODE VARCHAR(100)  
      ,ACHEADGDESC VARCHAR(100)  
   ,DISPSTATUS smallint  
   , ACHEADGID int   
      , RowNum INT  
    )  
  
    INSERT INTO @TableMaster(ACHEADGCODE,  
ACHEADGDESC,DISPSTATUS,ACHEADGID, RowNum)  
    SELECT  ACHEADGCODE  
            , ACHEADGDESC,DISPSTATUS  
            , ACHEADGID  
            , Row_Number() OVER (  
            ORDER BY  
              
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/  
              
            CASE @SortDirection  
              WHEN 'ASC'  THEN  
                CASE @SortIndex  
                  WHEN 0 THEN ACHEADGCODE  
                  WHEN 1 THEN ACHEADGDESC  
    
                END               
            END ASC,  
            CASE @SortDirection  
              WHEN 'DESC' THEN   
                CASE @SortIndex  
                  WHEN 0 THEN ACHEADGCODE  
                  WHEN 1 THEN ACHEADGDESC      
                 
                END  
            END DESC   
              
            /*DATETIME ORDER BY*/  
               
  
              
            ) AS RowNum  
    FROM    dbo.ACCOUNTGROUPMASTER  /* CHANGE  TABLE NAME */  
    WHERE   @FilterTerm IS NULL   
              OR ACHEADGCODE LIKE @FilterTerm  
              OR ACHEADGDESC LIKE @FilterTerm  
              
  
    SELECT ACHEADGCODE  
            , ACHEADGDESC  
   ,  
     CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS  
    ,ACHEADGID  
    FROM    @TableMaster  
    --WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum  
      
    SELECT @TotalRowsCount = COUNT(*)  
    FROM   dbo.ACCOUNTGROUPMASTER   /* CHANGE  TABLE NAME */  
      
    SELECT @FilteredRowsCount = COUNT(*)  
    FROM   @TableMaster  
          
END  
  