USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchCompanyMaster]    Script Date: 15/08/2023 13:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*  
  
DECLARE @total INT  
        @filtered INT  
  
EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT  
  
SELECT @total, @filtered  
*/  
ALTER PROCEDURE [dbo].[pr_SearchCompanyMaster]  /* CHANGE */  
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by  
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by  
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC  
        , @StartRowNum INT = 1 --the first row to return  
        , @EndRowNum INT = 10 --the last row to return  
        , @TotalRowsCount INT OUTPUT  
        , @FilteredRowsCount INT OUTPUT  
   
AS BEGIN  
    --Wrap filter term with % to search for values that contain @FilterTerm  
    SET @FilterTerm = '%' + @FilterTerm + '%'  
  
    DECLARE @TableMaster TABLE  
    (   
 COMPCODE VARCHAR(100)  
      ,COMPNAME VARCHAR(100)  
   ,COMPADDR VARCHAR(250)  
   ,COMPPHN1 VARCHAR(100)  
   ,COMPCPRSN VARCHAR(100)  
   ,COMPMAIL VARCHAR(100)  
   , COMPID int   
      , RowNum INT  
    )  
  
    INSERT INTO @TableMaster(COMPCODE,  
COMPNAME ,COMPADDR   
   ,COMPPHN1   
   ,COMPCPRSN   
   ,COMPMAIL,COMPID , RowNum)  
    SELECT  COMPCODE  
            , COMPNAME  
    ,COMPADDR   
   ,COMPPHN1   
   ,COMPCPRSN   
   ,COMPMAIL  
            , COMPID  
            , Row_Number() OVER (  
            ORDER BY  
              
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/  
              
            CASE @SortDirection  
              WHEN 'ASC'  THEN  
                CASE @SortIndex  
                  WHEN 0 THEN COMPCODE  
                  WHEN 1 THEN COMPNAME  
      WHEN 2 THEN COMPADDR  
      WHEN 3 THEN COMPPHN1  
      WHEN 4 THEN COMPCPRSN  
      WHEN 5 THEN COMPMAIL  
    
                END               
            END ASC,  
            CASE @SortDirection  
              WHEN 'DESC' THEN   
                CASE @SortIndex  
                  WHEN 0 THEN COMPCODE  
                  WHEN 1 THEN COMPNAME      
                WHEN 2 THEN COMPADDR  
      WHEN 3 THEN COMPPHN1  
      WHEN 4 THEN COMPCPRSN  
      WHEN 5 THEN COMPMAIL  
                END  
            END DESC   
              
            /*DATETIME ORDER BY*/  
               
  
              
            ) AS RowNum  
    FROM    dbo.COMPANYMASTER  /* CHANGE  TABLE NAME */  
    WHERE   @FilterTerm IS NULL   
              OR COMPCODE LIKE @FilterTerm  
              OR COMPNAME LIKE @FilterTerm  
      OR COMPADDR LIKE @FilterTerm   
     OR COMPPHN1 LIKE @FilterTerm  
      OR COMPCPRSN LIKE @FilterTerm  
     OR COMPMAIL LIKE @FilterTerm  
              
  
    SELECT COMPCODE  
            , COMPNAME,COMPADDR   
   ,COMPPHN1   
   ,COMPCPRSN   
   ,COMPMAIL, COMPID  
    FROM    @TableMaster  
    --WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum  
      
    SELECT @TotalRowsCount = COUNT(*)  
    FROM   dbo.COMPANYMASTER   /* CHANGE  TABLE NAME */  
      
    SELECT @FilteredRowsCount = COUNT(*)  
    FROM   @TableMaster  
          
END  
  