USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_SearchAccountHeadMaster]    Script Date: 15/08/2023 13:37:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
/*  
  
DECLARE @total INT  
        @filtered INT  
  
EXEC [dbo].[pr_SearchPerson] NULL, 1, 'ASC', 1, 10, @TotalRowsCount= @total OUTPUT,@FilteredRowsCount= @filtered OUTPUT  
  
SELECT @total, @filtered  
*/  
  
ALTER PROCEDURE [dbo].[pr_SearchAccountHeadMaster]  /* CHANGE */  
 @FilterTerm nvarchar(250) = NULL --parameter to search all columns by  
        , @SortIndex INT = 1 -- a one based index to indicate which column to order by  
        , @SortDirection CHAR(4) = 'ASC' --the direction to sort in, either ASC or DESC  
        , @StartRowNum INT = 1 --the first row to return  
        , @EndRowNum INT = 10 --the last row to return  
        , @TotalRowsCount INT OUTPUT  
        , @FilteredRowsCount INT OUTPUT  
   
AS BEGIN  
    --Wrap filter term with % to search for values that contain @FilterTerm  
    SET @FilterTerm = '%' + @FilterTerm + '%'  
  
    DECLARE @TableMaster TABLE  
    (   
 ACHEADCODE VARCHAR(100)  
 ,ACHEADGDESC VARCHAR(100)  
      ,ACHEADDESC VARCHAR(100)  
   ,DISPSTATUS smallint  
   , ACHEADID int   
      , RowNum INT  
    )  
  
    INSERT INTO @TableMaster(ACHEADCODE, ACHEADGDESC, ACHEADDESC,DISPSTATUS,ACHEADID, RowNum)  
    SELECT  ACHEADCODE  
   ,ACHEADGDESC  
            , ACHEADDESC  
   , ACCOUNTHEADMASTER.DISPSTATUS  
            , ACHEADID  
            , Row_Number() OVER (  
            ORDER BY  
              
            /*VARCHAR, NVARCHAR, CHAR ORDER BY*/  
              
            CASE @SortDirection  
              WHEN 'ASC'  THEN  
                CASE @SortIndex  
                  WHEN 0 THEN ACHEADCODE  
      WHEN 1 THEN ACHEADGDESC  
                  WHEN 2 THEN ACHEADDESC  
    
                END               
            END ASC,  
            CASE @SortDirection  
              WHEN 'DESC' THEN   
                CASE @SortIndex  
                  WHEN 0 THEN ACHEADCODE  
                  WHEN 1 THEN ACHEADGDESC  
                  WHEN 2 THEN ACHEADDESC      
                END  
            END DESC   
              
            /*DATETIME ORDER BY*/  
               
  
              
            ) AS RowNum  
    --FROM    dbo.ACCOUNTHEADMASTER  /* CHANGE  TABLE NAME */  
FROM            dbo.ACCOUNTHEADMASTER INNER JOIN  
                         dbo.ACCOUNTGROUPMASTER ON dbo.ACCOUNTHEADMASTER.ACHEADGID = dbo.ACCOUNTGROUPMASTER.ACHEADGID  
    WHERE   @FilterTerm IS NULL   
              OR ACHEADCODE LIKE @FilterTerm  
     OR ACHEADGDESC LIKE @FilterTerm  
              OR ACHEADDESC LIKE @FilterTerm  
              
  
    SELECT ACHEADCODE  
            , ACHEADDESC  
   , ACHEADGDESC  
   , CASE DISPSTATUS WHEN 1 THEN 'Disabled' WHEN 0 THEN 'Enabled' END  AS DISPSTATUS  
   ,ACHEADID  
    FROM    @TableMaster  
   -- WHERE   RowNum BETWEEN @StartRowNum AND @EndRowNum  
      
    SELECT @TotalRowsCount = COUNT(*)  
    FROM   dbo.ACCOUNTHEADMASTER   /* CHANGE  TABLE NAME */  
      
    SELECT @FilteredRowsCount = COUNT(*)  
    FROM   @TableMaster  
          
END  
  