USE [SYNC]
GO
/****** Object:  StoredProcedure [dbo].[pr_USER_MENU_DETAIL_ASSGN]    Script Date: 15/08/2023 13:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
ALTER PROCEDURE [dbo].[pr_USER_MENU_DETAIL_ASSGN] @PKUSRID AS  VARCHAR(100)   
  
AS  
  
SET NOCOUNT ON  
  
delete from MenuRoleMaster WHERE Roles = @PKUSRID   
  
INSERT INTO MenuRoleMaster(LinkText, ActionName, ControllerName, Roles, MenuGId, MenuGIndex,ImageClassName)  
SELECT    dbo.AspNetRoles.RMenuType, dbo.AspNetRoles.RMenuIndex, dbo.AspNetRoles.RControllerName, dbo.AspNetUsers.UserName,   
                      dbo.AspNetRoles.RMenuGroupId, dbo.AspNetRoles.RMenuGroupOrder, RImageClassName  
FROM         dbo.AspNetUsers INNER JOIN  
                      dbo.AspNetUserRoles ON dbo.AspNetUsers.Id = dbo.AspNetUserRoles.UserId INNER JOIN  
                      dbo.AspNetRoles ON dbo.AspNetUserRoles.RoleId = dbo.AspNetRoles.Id INNER JOIN  
                      dbo.ApplicationUserGroups ON dbo.AspNetUsers.Id = dbo.ApplicationUserGroups.UserId INNER JOIN  
                      dbo.Groups ON dbo.ApplicationUserGroups.GroupId = dbo.Groups.Id  
GROUP BY dbo.AspNetUsers.UserName, dbo.AspNetRoles.RMenuType, dbo.AspNetRoles.RMenuIndex, dbo.AspNetRoles.RControllerName, dbo.AspNetRoles.RMenuGroupId,   
                      dbo.AspNetRoles.RMenuGroupOrder, RImageClassName  
HAVING      (dbo.AspNetUsers.UserName = @PKUSRID) AND (dbo.AspNetRoles.RMenuType IS NOT NULL)  
ORDER BY dbo.AspNetRoles.RMenuGroupId, dbo.AspNetRoles.RMenuGroupOrder  
  